{% extends "panel/admin_base.html" %}
{% block title %}Редактирование перевода{% endblock %}
{% load static %}
{% block afterhead %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid" >
    <form action="" method="post" class="form-horizontal col-sm-12 col-md-6 col-lg-4">
        {% csrf_token %}
        <input type="hidden" name="key" value="{{ key }}">
        <div class="form-group">
            <p>Ключ: {{ key }}</p>
        </div>
        <div class="form-group">
        <textarea class="form-control shadow" id="text" name="text" rows="3">{{text}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary shadow_head">Сохранить</button>
        <a class="btn btn-primary shadow_head bottom-left" href="{% url 'panel:site_rows' %}">Отмена</a>
    </form>
    </div>
{% endblock %}
