{% extends "panel/admin_base.html" %}
{% load get_item %}
{% load static %}
{% block afterhead %}
    <link rel="stylesheet prefetch" type="text/css" href="/static/datatables.css">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %}Строки{% endblock %}

{% block content %}
  <div class="container-fluid shadow table-scroll" style="width: 97%;">
      <table class="table table-bordered" id="table_users" style="width:100%">
        <thead>
          <tr>
            <th></th>
            <th class="w-5 text-center" style="vertical-align: middle">Ключ</th>
            <th class="w-5 text-center" style="vertical-align: middle">Текст</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in data.items %}
          <tr class="m-0">
            <td class="w-5 text-center"><a href="{% url 'panel:site_translation_edit' %}?key={{ key }}"><img src="{% static 'admin/img/icon-changelink.svg' %}" title="Редактировать"></a></td>
            <td class="w-5">{{ key }}</td>
            <td class="w-5">{{ value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
<script>
    alert('{{ message }}');
</script>
