.spacer
{
    width: 100%;
    height: 60px;
}
.shadow_head{
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.active-link{
    color: #fff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}


.main-div{
    height: 430px;
    width: 400px;
    background: white;
}
.shadow {
    background: #ffffff; /* Цвет фона */
    box-shadow: 0 0 15px rgba(0,0,0,0.8); /* Параметры тени */
    padding: 15px;
    margin-bottom: 10px;
}

.logotype {
    margin-top: -15px;
    width: auto;
    min-width: 160px;
    margin-bottom: -15px;
}

.languages-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 20px;
}
.language-item {
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    width: 8%;
    justify-self: center;
}

.form-user{
    display: flex;
    justify-content: space-between;


}

.logout {
  float: right;
  margin-left: auto;
}

@media screen and (max-width: 767px) {

  .table-scroll {
    width: 100%;
    overflow-y: auto;
    _overflow: auto;

    padding: 0px;
  }
}
