{% if paginator %}
<nav aria-label="pagination">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a></li>

        {% if page_obj.number >= 4 %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {% endif %}

        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Первая</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">Назад</a></li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
        {% if page_obj.number == page %}
        <li class="page-item{% if page_obj.number == page %} active{% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}

        {% if page_obj.paginator.num_pages|add:'-3' >= page_obj.number %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Вперед</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">Последняя</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}