<!DOCTYPE html>
{% load static %}
{% load get_item %}
<html>

<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel='stylesheet' href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel='stylesheet' href="{% static 'css/style.css' %}">
        <meta name="author" content="Momentum bots">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block afterhead %}{% endblock %}
    {% endblock %}
</head>


<body>
<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow_head">
        <a class="navbar-brand" href="{% url 'panel:sender' %}">
            <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top logotype" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panel:sender' %}">Рассылка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panel:users' %}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panel:create' %}">Проекты</a>
                    </li>
                    {% if INSTALLED_MODULES|get_item:'site_translations' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:rows' %}">Строки бота</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:site_rows' %}">Строки сайта</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:rows' %}">Строки</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'panel:statistic' %}">Статистика</a>
                    </li>
                    {% if INSTALLED_MODULES|get_item:'site_translations' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:state_links' %}">Ссылки на стейты</a>
                        </li>
                    {% endif %}
                    <!-- <li class="nav-item logout">
          <a class="navbar-brand" href="{% url 'panel:logout' %}?next={% url 'panel:login' %}" style="font-family: Geneva, Arial, Helvetica, sans-serif">Выйти</a>
        </li> -->
                </ul>
                <a class="navbar-brand" href="{% url 'panel:logout' %}?next={% url 'panel:login' %}" style="font-family: Geneva, Arial, Helvetica, sans-serif">Выйти</a>
            </div>


        {% endif %}
    </nav>
</header>
<br>
<div class="spacer">
    &nbsp;
</div>
{% block content %}{% endblock %}
<script src="{% static 'js/styling.js' %}"></script>
<script src="{% static 'jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/admin.js' %}"></script>
{% block afterscripts %}{% endblock %}
</body>

</html>
