{% extends "panel/admin_base.html" %}
{% block title %}Текущая статистика{% endblock %}
{% load static %}
{% block afterhead %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container align-items-center align-self-center">
    <br>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link" href="{% url 'panel:statistic' %}">График</a>
        <a class="nav-link active" href="{% url 'panel:arriving_audience' %}">Приплыв аудитории</a>
        <a class="nav-link" href="{% url 'panel:current_statistic' %}">Текущая статистика</a>
        <a class="nav-link" href="{% url 'panel:click_statistic' %}">Статистика нажатий</a>
        <a class="nav-link" href="{% url 'panel:artifact_statistic' %}">Артефакты</a>
    </nav>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link" id="nav-home-tab" href="{% url 'panel:arriving_audience' %}" role="tab" aria-controls="nav-home" aria-selected="true">За 30 дней</a>
            <a class="nav-item nav-link" id="nav-profile-tab"  href="{% url 'panel:arriving_audience_90_days' %}" role="tab" aria-controls="nav-profile" aria-selected="false">За 3 месяца</a>
            <a class="nav-item nav-link" id="nav-contact-tab" href="{% url 'panel:arriving_audience_365_days' %}" role="tab" aria-controls="nav-contact" aria-selected="false">За год</a>
            <a class="nav-item nav-link active" id="nav-contact-tab" href="{% url 'panel:arriving_audience_max' %}" role="tab" aria-controls="nav-contact" aria-selected="false">За все время</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <embed type="image/svg+xml" src={{graph_users_by_30_days|safe}} style='max-width:100%'/>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <embed type="image/svg+xml" src={{graph_users_by_90_days|safe}} style='max-width:100%'/>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <embed type="image/svg+xml" src={{graph_users_by_365_days|safe}} style='max-width:100%'/>
        </div>
        <div class="tab-pane fade show active" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <embed type="image/svg+xml" src={{graph_users_max|safe}} style='max-width:100%'/>
        </div>
    </div>
</div>
{% endblock %}