{% extends "panel/admin_base.html" %}
{% block title %}Артефакты{% endblock %}
{% load static %}
{% block afterhead %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container align-items-center align-self-center">
        <br>
        <nav class="nav nav-pills nav-justified">
            <a class="nav-link" href="{% url 'panel:statistic' %}">График</a>
            <a class="nav-link" href="{% url 'panel:current_statistic' %}">Текущая статистика</a>
            <a class="nav-link" href="{% url 'panel:click_statistic' %}">Статистика нажатий</a>
            <a class="nav-link active" href="{% url 'panel:artifact_statistic' %}">Артефакты</a>
        </nav>

        <div class="tab-content">
            <br>
            <ul class="list-group">
                {% for art in artifacts %}
                    {% if art.is_view %}
                        <li class="list-group-item">{{ art.name }}: {{ art.count }} <a style="float: right;" class="btn btn-sm btn-danger" href="{% url 'panel:artifact_delete' art.pk %}">Удалить</a> {% if art.users_exists %}<a style="float: right;" class="btn btn-sm btn-primary" href="{% url 'panel:artifact_users' %}?key={{ art.pk }}">Просмотреть пользователей</a>{% endif %}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            <br>
            <a class="btn btn-block btn-danger" href="{% url 'panel:artifacts_delete' %}">Удалить все</a>
            <br>
            <br>
            <br>
        </div>
    </div>
{% endblock %}
