{% extends "panel/admin_base.html" %}
{% load static %}
{% load url_replace %}
{% load get_item %}
{% block afterhead %}
    <link rel="stylesheet prefetch" type="text/css" href="{% static 'datatables.css' %}">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">

{% endblock %}
{% block title %}Пользователи{% endblock %}

{% block content %}
    <br>
    <div class="container-fluid shadow table-scroll" style="width: 97%;" >
        <h2>Артефакт: {{ artifact.name }}</h2>
        <div class="row mt-2" style="padding: 15px;">
            <table class="table table-bordered" id="table_users" style=" width: 100%;" >
                <thead>
                <tr>
                    <th><a href="?{% url_replace request 'order_by' 'user_id_s' '-' %}">ID</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'username' '-' %}">Никнейм</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'first_name' '-' %}">Имя</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'last_name' '-' %}">Фамилия</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'language' '-' %}">Язык</a></th>
                    <th><a href="?{% url_replace request 'order_by' 'is_blocked' '-' %}">Заблокирован</a></th>
                    <th>Изменить</th>
                    <th>Отправить</th>
                </tr>
                </thead>
                <tbody id="table-data">
                {% for user in users %}
                    <tr>
                        <td>{{ user.user_id_s }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{% if user.last_name %}{{ user.last_name }}{% else %}{% endif %}</td>
                        <td>{{ user.language }}</td>
                        <td>{% if user.is_blocked %}Да{% else %}Нет{% endif %}</td>
                        <td><a href="{% url 'panel:edit_user' user.pk %}">Редактировать</a></td>
                        <td><a href="{% url 'panel:sender' %}?user_id={{ user.user_id_s }}">Отправить сообщение</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
<style>
    .chat-block {
        background-color: white;
        padding: 5px;
        width: 1000px;
        min-width: 500px;
    }

    .search-field {
        height: 35px;
    }

    .quick-search {
        background-color: white;
        display: none;
    }

    .search-link {
        display: block;
        text-decoration: none;
        color: black;
        width: 100%;
    }

    .search-link:hover {
        text-decoration: none;
        color: black;
        background-color: silver;
    }
</style>
{% block afterscripts %}
    <!--<script type="text/javascript" charset="utf8" src="{% static 'datatables.js' %}"></script>-->
    <!--<script type="text/javascript" charset="utf8" src="{% static 'js/users.js' %}"></script>-->
    <script>
        $(document).ready(function() {
            $(".search-field").keyup(function() {
                let query = $(".search-field").val();
                if (query.length >= 1) {
                    $.ajax({
                        url: "{% url 'panel:search_by_users' %}",
                        data: {q: query},
                        method: "GET",
                        success: function(data) {
                            $("#table-data").html('');
                            $.each(data['users'], function(index, value) {
                                let isBlocked;
                                let edit_link = "{% url 'panel:edit_user' pk=0 %}".replace(/0/, value.id);
                                if (value.is_blocked) {
                                    isBlocked = 'Да';
                                } else {
                                    isBlocked = 'Нет';
                                }
                                if ( value.username_tg !== null ) {
                                    username = value.username_tg;
                                } else {
                                    username = value.username;
                                }
                                let message = `<tr>
                <td>${value.user_id_s}</td>
                <td>${username}</td>
                <td>${value.first_name}</td>
                <td>${value.last_name}</td>
                <td>${value.language}</td>
                <td>${isBlocked}</td>
                <td><a href="${edit_link}">Редактировать</a></td>
                <td><a href="{% url 'panel:sender' %}?user_id=${value.user_id_s}">Отправить сообщение</a></td>
              </tr>`;
                                $("#table-data").append(message);
                            });
                        }
                    });
                } else {
                    $.ajax({
                        url: "{% url 'panel:search_by_users' %}",
                        data: {q: "all_users"},
                        method: "GET",
                        success: function(data) {
                            $("#table-data").html('');
                            $.each(data['users'], function(index, value) {
                                let isBlocked;
                                let edit_link = "{% url 'panel:edit_user' pk=0 %}".replace(/0/, value.id);
                                if (value.is_blocked) {
                                    isBlocked = 'Да';
                                } else {
                                    isBlocked = 'Нет';
                                }
                                if ( value.username_tg !== null ) {
                                    username = value.username_tg;
                                } else {
                                    username = value.username;
                                }
                                let message = `<tr>
                <td>${value.user_id_s}</td>
                <td>${username}</td>
                <td>${value.first_name}</td>
                <td>${value.last_name}</td>
                <td>${value.language}</td>
                <td>${isBlocked}</td>
                <td><a href="${edit_link}">Редактировать</a></td>
                <td><a href="{% url 'panel:sender' %}?user_id=${value.user_id_s}">Отправить сообщение</a></td>
              </tr>`;
                                $("#table-data").append(message);
                            });
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
