{% extends "panel/admin_base.html" %}
{% block title %}Статистика кликов{% endblock %}
{% load static %}
{% block afterhead %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container align-items-center align-self-center">
    <br>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link" href="{% url 'panel:statistic' %}">График</a>
        <a class="nav-link" href="{% url 'panel:arriving_audience' %}">Приплыв аудитории</a>
        <a class="nav-link" href="{% url 'panel:current_statistic' %}">Текущая статистика</a>
        <a class="nav-link active" href="{% url 'panel:click_statistic' %}">Статистика нажатий</a>
        <a class="nav-link" href="{% url 'panel:artifact_statistic' %}">Артефакты</a>
    </nav>

    <div class="tab-content">
        <br>
        <ul class="list-group">
            {% for click in clicks %}
            <li class="list-group-item">{{ click.name_button }}: {{ click.count }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
