<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Form</title
    </head>
    <body>
        <h1>Form</h1>
        <form method="post">
            {% csrf_token %}
            <br><label for="name" >ID</label></br>
            <input type="text" id="name" name="name" title="2 to 10 LETTERS">
            <br><br><label for="name" >date_domain</label></br>
            <input type="text" id="name" title="2 to 20 LETTERS">
            <br><br><button type="submit">Добавить проект</button>
        </form>
    </body>
</html>