{% extends "panel/admin_base.html" %}
{% block title %}Текущая статистика{% endblock %}
{% load static %}
{% block afterhead %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<div class="container align-items-center align-self-center">
    <br>
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link" href="{% url 'panel:statistic' %}">График</a>
        <a class="nav-link" href="{% url 'panel:arriving_audience' %}">Приплыв аудитории</a>
        <a class="nav-link active" href="{% url 'panel:current_statistic' %}">Текущая статистика</a>
        <a class="nav-link" href="{% url 'panel:click_statistic' %}">Статистика нажатий</a>
        <a class="nav-link" href="{% url 'panel:artifact_statistic' %}">Артефакты</a>
    </nav>

    <div class="tab-content">
        <br>
        <h5>Всего юзеров:<span class="label label-default"> {{ users_count }}</span></h5>
        <h6>Распределение пользователей по языками:</h6>
        <ul>
            {% for item in users_count_by_lang %}
            <li>{{ item.lang }}: {{ item.count }}</li>
            {% endfor %}
        </ul>
        <span>Юзеров, которые заблокировали бота: {{ cur_blocked_count }}</span><br>
        <span>Деактививированных юзеров: {{ cur_deactivated_count }}</span><br><br>
    </div>
</div>
{% endblock %}
