{% extends "panel/admin_base.html" %}
{% block title %}Редактирование языков{% endblock %}
{% load static %}
{% block afterhead %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <br>
        <form action="" method="post" class="form-horizontal col-sm-12 col-md-6 col-lg-4 shadow">
            {% csrf_token %}
            <div class="form-group">
                <p>Введите код нового языка ("ru", "ua" ... )</p>
            </div>
            {{ form }}
            <br>
            <button type="submit" class="btn btn-primary shadow_head">Сохранить</button>
            <a class="btn btn-primary shadow_head bottom-left" href="{% url 'panel:rows' %}">Отмена</a>
        </form>
    </div>
{% endblock %}
