{% extends "panel/admin_base.html" %}
{% load get_item %}
{% load static %}
{% block afterhead %}
    <link rel="stylesheet prefetch" type="text/css" href="/static/datatables.css">
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %}Строки{% endblock %}

{% block content %}
  <div class="container-fluid shadow table-scroll" style="width: 97%;">
      <table class="table table-bordered" id="table_users" style="width:100%">
        <thead>
          <tr>
            <th class="w-5 text-center" style="vertical-align: middle"><a href="{% url 'panel:language_add' %}"> <img src="{% static 'admin/img/icon-addlink.svg' %}" title="Добавить язык"></a></th>
            <th class="w-5 text-center" style="vertical-align: middle">Ключ</th>
            {% for code in codes %}
            <th class="w-25 text-center" style="vertical-align: middle"><a href="" onclick="if (confirm('Вы действительно хотите удалить язык?'))href='{% url 'panel:language_delete' %}?key={{code.language_code }}'"><img src="{% static 'admin/img/icon-deletelink.svg' %}" title="Удалить"></a>  {{code.language_code }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for token, value in tokens.items %}
          <tr class="m-0">
            <td class="w-5 text-center"><a href="{% url 'panel:translation_edit' %}?key={{ token }}"><img src="{% static 'admin/img/icon-changelink.svg' %}" title="Редактировать"></a></td>
            <td class="w-5">{{ token }}</td>
            {% for val in tokens|get_item:token %}
            <td class="w-25">{{ val }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
<script>
    alert('{{ message }}');
</script>
