{% extends "panel/admin_base.html" %}

{% block title %}Логин{% endblock %}
{% load static %}
{% block afterhead %}
<link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
<body background="{% static 'admin/img/bg-037.jpg' %}">
<br>
<div class="container" >
    <div class="row">
        <div class="offset-lg-3 col-lg-6 col-sm-12">
            <div class="shadow">
                <form enctype="multipart/form-data" method="POST" action="" style="margin-left: 10px; margin-right: 10px">
                    <div class="form-group ">
                        <small id="login" class="form-text text-muted" style="margin-bottom: 5px;">Выдает админ</small>
                        {% csrf_token %}
                        {{ form }}
                        <input type="hidden" name="next" value="{% url 'panel:sender' %}">
                    </div>
                    <button type="submit" class="btn btn-primary">Вход</button>
                </form>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
