<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List Project</title
    </head>
    <body>
        <ul>
            {% for project in projects %}
            <li>{{ project.date_hosting }}</li>
            <li>{{ project.date_domain }}</li>
            <hr/>
            {% empty %}
            <li>No object</li>
            {% endfor %}
        </ul>
    </body>
</html>