{% extends "panel/admin_base.html" %}
{% block title %}Редактирование ссылки на стейт{% endblock %}

{% block content %}
    <div class="container-fluid">
        Редактирование ссылки на стейт
        <br>
        <br>
        <form action="" method="post" class="form-horizontal col-lg-4 col-sm-12 shadow" enctype="multipart/form-data">
            Текущая ссылка: <a href="{{ form.instance.link_id }}">{{ form.instance.link_id }}</a>
            <br>
            <br>
            {% csrf_token %}
            {{ form.as_p }}
            <br>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}
