{% extends "panel/admin_base.html" %}
{% load static %}
{% block title %}Настройка ссылок{% endblock %}

{% block content %}
    <div class="container-fluid">
        <br>
        <div class="container-fluid">
            <h3>Список ссылок <a href="{% url 'panel:create_state_link' %}">Добавить</a></h3>
            <div class="table-scroll">

                <table class="table table-striped table-bordered" id="table_users" style="width:100%">
                    <thead>
                    <tr>
                        <th>Ссылка</th>
                        <th>Стейт</th>
                        <th>Тег</th>
                        <th>Количество переходов</th>
                        <th>...</th>
                    </tr>
                    </thead>
                    <tbody id="table-data">
                    {% for state_link in state_links %}
                        <tr>
                            <td><a href="{{ state_link.link_id }}">{{ state_link.link_id }}</a></td>
                            <td>{{ state_link.state_name }}</td>
                            <td>{{ state_link.tag }}</td>
                            <td>{{ state_link.statistic_count }}</td>
                            <td><a href="{% url 'panel:update_state_link' state_link.pk %}">Редактировать</a> <a href="{% url 'panel:remove_state_link' state_link.pk %}">Удалить</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding-left: 30%;">
            {% include 'panel/components/pagination.html' %}
        </div>

    </div>
{% endblock %}