{% extends "panel/admin_base.html" %}
{% block title %}Редактирование перевода{% endblock %}
{% load static %}
{% block afterhead %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid" >
    {% for message in messages %}
                    <div class="alert alert-danger col-sm-12 col-md-6 col-lg-4">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                {% endfor %}
        <br>
        <form action="" method="post" class="form-horizontal col-sm-12 col-md-6 col-lg-4">
            {% csrf_token %}
            <input type="hidden" name="key" value="{{ key }}">
            <div class="form-group">
                <p>Ключ: {{ key }}</p>
            </div>
            <div>
                {% for row in strings %}
                   {% if "{}" in row.string %}
                   <p>Данная строка содержит служебные символы "{}", использующиеся для форматирования. Во избежание ошибок, просьба не удалять их из строки и не добалять новые!</p>
                   {% endif %}
                {% endfor %}
            </div>
            <div class="form-group">
                {% for row in strings %}
                    <label for="input{{ forloop.counter }}">{{ row.language_code.language_code }}</label>
                    <textarea class="form-control shadow" id="input{{ forloop.counter }}" name="{{ row.language_code.language_code }}" rows="3">{{ row.string}}</textarea>
                    <br>
                {% endfor %}
                {% for code in codes %}
                    {% if not code.language_code in translate_codes %}
                        <label for="input{{ forloop.counter }}">{{ code.language_code }}</label>
                        <textarea class="form-control shadow" id="input{{ forloop.counter }}" name="{{ code.language_code }}" rows="3"></textarea>
                        <br>
                    {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary shadow_head">Сохранить</button>
            <a class="btn btn-primary shadow_head bottom-left" href="{% url 'panel:rows' %}">Отмена</a>
        </form>
    </div>
{% endblock %}
