<!DOCTYPE html>
<html>
{% load static %}
{% load get_item %}

<meta charset="utf-8"/>
<title>История переписки</title>
<meta name="viewport" content="width=500">
<link href="{% static 'css/user_history.css' %}" rel="stylesheet">
<link rel='stylesheet' href="{% static 'css/style.css' %}">
<link rel='stylesheet' href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'js/user_history.js' %}" type="text/javascript"></script>

<body onLoad="moveWin();">

<header>
       <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow_head">
              <a class="navbar-brand" href="{% url 'panel:sender' %}">
                     <img src="{% static 'images/logo.png' %}" class="d-inline-block align-top logotype" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                     <span class="navbar-toggler-icon"></span>
              </button>
              {% if user.is_authenticated %}
                     <div class="collapse navbar-collapse" id="collapsibleNavbar">
                     <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:sender' %}">Рассылка</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:users' %}">Пользователи</a>
                            </li>
                            {% if INSTALLED_MODULES|get_item:'site_translations' %}
                            <li class="nav-item">
                                   <a class="nav-link" href="{% url 'panel:rows' %}">Строки бота</a>
                            </li>
                            <li class="nav-item">
                                   <a class="nav-link" href="{% url 'panel:site_rows' %}">Строки сайта</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                   <a class="nav-link" href="{% url 'panel:rows' %}">Строки</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:statistic' %}">Статистика</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'panel:state_links' %}">Ссылки на стейты</a>
                            </li>
                            <!-- <li class="nav-item logout">
              <a class="navbar-brand" href="{% url 'panel:logout' %}?next={% url 'panel:login' %}" style="font-family: Geneva, Arial, Helvetica, sans-serif">Выйти</a>
              </li> -->
                     </ul>
                     <a class="navbar-brand" href="{% url 'panel:logout' %}?next={% url 'panel:login' %}" style="font-family: Geneva, Arial, Helvetica, sans-serif">Выйти</a>
                     </div>
       
       
              {% endif %}
       </nav>
</header>

<div class="page_wrap">

       <div class="footer">
              <div class="content">
              <div class="text bold">
                     <form id="sendForm" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-8">
                                        <label for="messageTextArea">Сообщение</label>
                                    </div>
                                </div>
                                <textarea class="form-control" id="messageTextArea" name="message" rows="2" aria-required="true"></textarea>
                            </div>
                            <div style="display:flex; flex-direction: row;>
                                   <label for="file_to_send"">Файл (до 50 мб): <label>
                                   <input type="file" class="form-control-file" id="file_to_send" name="file_to_send">
                            </label>
                            </div>
                            <div class="languages-list">
                                   <label for="send_as_file" >Отправить фото как файл</label>
                                   <input class="form-check-input" type="checkbox" name="send_as_file" value="True">
                            </div>
                            <input type="hidden" name="user_id" value="{{ user.user_id_int }}" />
                            <input type="submit" id="msg_send_button" class="btn btn-primary btn-block" value="Отправить" onclick="setTimeout(loadAllBroadCastMessages, 2000);">
                        </form>
              
              </div>
              </div>
       </div>

   <div class="page_body chat_page">

    <div class="history">

       {% for message in messages %}
              {% if message.newblock %}
              <div class="message default clearfix" id="{{ message.message_id }}">
                     <div class="pull_left userpic_wrap">
                            <div class="userpic {{ message.userpic }}" style="width: 42px; height: 42px">
                                   <div class="initials" style="line-height: 42px">
                                          {{ message.initial }}
                                   </div>
                            </div>
                     </div>
                     <div class="body">
                            <div class="pull_right date details">
                                   {{ message.date }}
                            </div>
                            <div class="from     name">
                                   {{ message.user }}
                            </div>
                            {% if message.filetype == "photo" %}
                            <div class="media_wrap clearfix">
                                   <a class="photo_wrap clearfix pull_left" href="{{ message.fileurl }}">
                                          <img class="photo" src="{{ message.fileurl }}" style="width: 400px;">
                                   </a>
                            </div>
                            {% endif %}
                            {% if message.filetype == "video" %}
                                   <a href="{{ message.fileurl }}">*Видео*</a>
                            {% endif %}
                            {% if message.filetype == "audio" %}
                                   *Аудио*
                            {% endif %}
                            {% if message.filetype == "document" %}
                                   <a href="{{ message.fileurl }}">*Документ*</a>
                            {% endif %}
                            {% if message.filetype == "sticker" %}
                                   *Стикер*
                            {% endif %}
                            {% if message.filetype == "video_note" %}
                                   *Круглое видео*
                            {% endif %}
                            {% if message.filetype == "contact" %}
                                   *Контакт*
                            {% endif %}
                            {% if message.filetype == "location" %}
                                   *Локация*
                            {% endif %}
                            {% if message.filetype == "voice" %}
                                   <a href="{{ message.fileurl }}">*Войс*</a>
                            {% endif %}
                            {% if message.text %}
                            <div class="text">
                                   {{ message.text }}
                            </div>
                            {% endif %}
                     </div>
              </div>
              {% else %}
              <div class="message default clearfix joined" id="{{ message.message_id }}">
                     <div class="body">
                            <div class="pull_right date details">
                                   {{ message.date }}
                            </div>
                            <br>
                            {% if message.filetype == "photo" %}
                            <div class="media_wrap clearfix">
                                   <a class="photo_wrap clearfix pull_left" href="{{ message.fileurl }}">
                                          <img class="photo" src="{{ message.fileurl }}" style="width: 400px;">
                                   </a>
                            </div>
                            {% endif %}
                            {% if message.filetype == "video" %}
                                   <a href="{{ message.fileurl }}">*Видео*</a>
                            {% endif %}
                            {% if message.filetype == "audio" %}
                                   *Аудио*
                            {% endif %}
                            {% if message.filetype == "document" %}
                                   <a href="{{ message.fileurl }}">*Документ*</a>
                            {% endif %}
                            {% if message.filetype == "sticker" %}
                                   *Стикер*
                            {% endif %}
                            {% if message.filetype == "video_note" %}
                                   *Круглое видео*
                            {% endif %}
                            {% if message.filetype == "contact" %}
                                   *Контакт*
                            {% endif %}
                            {% if message.filetype == "location" %}
                                   *Локация*
                            {% endif %}
                            {% if message.filetype == "voice" %}
                                   <a href="{{ message.fileurl }}">*Войс*</a>
                            {% endif %}
                            {% if message.text %}
                            <div class="text">
                                   {{ message.text }}
                            </div>
                            {% endif %}
                     </div>
              </div>
              {% endif %}
       {% endfor %}
       <a name="bottom"></a>
       <div class = "footer_sepatator"></div>
 </body>

 <script type="text/javascript">
       function moveWin()
       {  
       window.scroll(0, document.documentElement.scrollHeight)
       }
</script>

</html>