{% extends "panel/admin_base.html" %}

{% block title %}Отложенные сообщения{% endblock %}
{% load static %}
{% block afterhead %}
    <link rel='stylesheet' href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="shadow">
                    <form id="sendForm" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-8">
                                    <label for="messageTextArea">Отложенное сообщение</label>
                                </div>
                                <div class="col-4">
                                    <a href="{% url 'panel:sender' %}" class="mb-2 btn btn-outline-primary">Обычные сообщения</a>
                                </div>
                            </div>
                            <textarea class="form-control" id="messageTextArea" name="message" required="required" rows="3" aria-required="true"></textarea>
                            <p class="mt-2">
                                <label for="id_send_date">Дата отправки рассылки</label>
                                <input type="datetime-local" name="send_date" value="{{ date_now }}" required="" id="id_send_date">
                            </p>
                            <br>
                            <div class="form-group">
                                <label for="inline-buttons">
                                    Inline кнопки
                                    <a class="btn btn-success" onclick="showInlineForm()">+</a>
                                </label>
                                <input class="form-control" name="inline_buttons" value="" id="inline-buttons" hidden>
                                <div id="grid" class="form-group"></div>
                                <br>
                                <label for="inline-text">Текст: </label>
                                <input type="text" class="form-control" id="inline-text">
                                <label for="inline-url">Ссылка: </label>
                                <input type="text" class="form-control" id="inline-url" value="https://t.me/">
                                <label for="inline-is-state">Включить ссылку на стейт:</label>
                                <input type="checkbox" id="inline-is-state">
                                <br>
                                <label for="inline-state">Стейт: </label>
                                <select id="inline-state" class="form-control">
                                    {% for state in states %}
                                        <option value="{{ state|first }}">{{ state|last }}</option>
                                    {% endfor %}
                                </select>
                                <label for="inline-row">Ряд: </label>
                                <input type="number" class="form-control" id="inline-row" value="1">
                                <label for="inline-pos">Позиция: </label>
                                <input type="number" class="form-control" id="inline-pos" value="1">
                                <br id="division_before_btn">
                                <a class="btn btn-success" onclick="createInlineButton()" id="add_inline_btn">Добавить</a>
                                <a class="btn btn-warning" onclick="hideInlineForm()" id="hide_inline_btn">Скрыть</a>
                                <hr>
                            </div>
                            <div class="form-group">
                                <label for="file_to_send">Файл: </label>
                                <input type="file" class="form-control-file" id="file_to_send" name="file_to_send">
                            </div>
                            <div class="form-group">
                                <label for="users_list">Пользователи: </label>
                                <input type="text" class="form-control" id="users_list" name="defined_targets" value="{% if user_id %}{{ user_id }}{% endif %}" placeholder="ID пользователей, кторым будет отправлено сообщение (например, '111, 2314 123142')">
                            </div>
                            <div class="language">
                                <label for="users_list">Рассылка по языку: </label>
                                <div class="languages-list">
                                    {% for val in languages %}
                                        <div class="language-item">
                                            <input class="form-check-input" type="checkbox" name="{{ val }}" value="yes">
                                            <label class="form-check-label" for="languages">{{ val }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <input type="submit" id="msg_send_button" class="btn btn-primary" value="Отправить" onclick="setTimeout(loadAllBroadCastMessages, 2000);">
                    </form>
                    <br>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="shadow" id="broadcastWrapper">
                    <div id="broadcastMessages" style="margin: 10px;">

                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock %}
{% block afterscripts %}
   <script src="https://unpkg.com/packery@2/dist/packery.pkgd.min.js"></script>
    <script>

        const grid = $("#grid")
        const hidden_value = $("#inline-buttons");

        const inline_text = $("#inline-text");
        const inline_text_label = $('label[for="inline-text"]');
        const inline_url = $("#inline-url");
        const inline_url_label = $("label[for='inline-url']");
        const inline_is_state = $("#inline-is-state");
        const inline_is_state_label = $("label[for='inline-is-state']");
        const inline_state = $("#inline-state");
        const inline_state_label = $("label[for='inline-state']");
        const inline_row = $("#inline-row");
        const inline_row_label = $("label[for='inline-row']");
        const inline_pos = $("#inline-pos");
        const inline_pos_label = $("label[for='inline-pos']");
        const add_inline_btn = $("#add_inline_btn");
        const hide_inline_btn = $("#hide_inline_btn");
        const division_before_btn = $("#division_before_btn")

        inline_state[0].selectedIndex = -1;
        function toggleInlineForm(value){
            if (grid.html() === "") {
                grid.hide();
            } else {
                grid.show();
            }
            if(value){
                inline_text.show();
                inline_text_label.show();
                inline_url.show();
                inline_url_label.show();
                inline_is_state.show();
                inline_is_state_label.show();
                inline_state.show();
                inline_state_label.show();
                inline_row.show();
                inline_row_label.show();
                inline_pos.show();
                inline_pos_label.show();
                division_before_btn.show();
                add_inline_btn.show();
                hide_inline_btn.show();
            } else {
                inline_text.hide();
                inline_text_label.hide();
                inline_url.hide();
                inline_url_label.hide();
                inline_is_state.hide();
                inline_is_state_label.hide();
                inline_state.hide();
                inline_state_label.hide();
                inline_row.hide();
                inline_row_label.hide();
                inline_pos.hide();
                inline_pos_label.hide();
                division_before_btn.hide();
                add_inline_btn.hide();
                hide_inline_btn.hide();
            }
        }

        // OnLoad -> hide
        $(document).ready(function () {
            toggleInlineForm(false);
        });

        function showInlineForm(){
            toggleInlineForm(true);
        }

        function hideInlineForm(){
            toggleInlineForm(false);
        }

        let buttons = [];
        let buttons_map = {};

        function sort_buttons(buttons){
            buttons.sort(function(a, b) {
                let keyA = a['pos'], keyB = b['pos'];
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
                return 0;
            });
            buttons.sort(function(a, b) {
                let keyA = a['row'], keyB = b['row'];
                if (keyA < keyB) return -1;
                if (keyA > keyB) return 1;
                return 0;
            });
            return buttons
        }

        function createInlineButton(){
            let text = inline_text.val();
            let url = inline_url.val();
            let is_state = inline_is_state[0].checked;
            if (is_state)
                is_state = 'True'
            else
                is_state = 'False'
            let state = inline_state.val();
            if (state === null)
                state = ''
            let row = parseInt(inline_row.val());
            let pos = parseInt(inline_pos.val());
            let button = {text:text, url:url, row:row, pos:pos, is_state: is_state, state: state};
            buttons.push(button);
            buttons_map['btn-' + buttons.length] = button;
            buttons = sort_buttons(buttons);
            grid.html("");
            for (let i = 0; i < buttons.length; i++) {
                let button = buttons[i]
                let text, url, row, pos;
                text = button['text'];
                url = button['url'];
                row = button['row'];
                pos = button['pos'];
                let template = `<a class="btn btn-success" id="inline-btn-${buttons.length}" onclick="remove_btn(this, ${buttons.length})" style="margin-left: 5px">${text} (${row}, ${pos})</a>`;
                grid.append(template);
            }
            hidden_value.val(JSON.stringify(buttons));
            setFormDefault();
            if (grid.html() === "") {
                grid.hide();
            } else {
                grid.show();
            }
        }

        function setFormDefault(){
            inline_text.val("");
            inline_url.val("https://t.me/");
            inline_state[0].selectedIndex = -1;
            inline_is_state[0].checked = false;
            inline_row.val(1);
            inline_pos.val(1);
        }

        function remove_btn(item, _id) {
            $(item).remove();
            let button = buttons_map['btn-' + _id];
            buttons.splice(buttons.findIndex(btn => btn === button), 1);
            hidden_value.val(JSON.stringify(buttons));
            if (grid.html() === "") {
                grid.hide();
            } else {
                grid.show();
            }
        }

        function updateAllBroadCastMessages() {
            return
            $.ajax({
                url: "{% url 'panel:get_all_broadcast_messages' %}",
                method: "GET",
                success: function (data) {
                    $.each(data['broadcasts'], function (index, value) {
                        if (value.broadcast.message == null) value.broadcast.message = '';
                        let pending_msg = value.status === 'SUCCESS' ? 'Success' : `<img style="width: 20px; height: 20px;" src="{% static 'images/loader.gif' %}" alt="loader">`;
                        let remove_btn = value.status === 'SUCCESS' ? `<button id="removeBtn${value.broadcast.task_id}" class="btn btn-danger btn-sm" style="margin-bottom: 5px" onclick="deleteMessage('${value.broadcast.task_id}')"><span style="font-size: 10px">Удалить</span></button>`:'';
                        $(`#status${value.broadcast.task_id}`).html(pending_msg);
                        let edit_btn = value.status === 'SUCCESS' ? `<button id="editBtn${value.broadcast.task_id}" class="btn btn-primary btn-sm" style="margin-bottom: 5px" onclick="editMessage('${value.broadcast.task_id}', ${value.is_caption})"><span style="font-size: 10px">Редактировать</span></button>`:'';
                        $(`#btn_remove${value.broadcast.task_id}`).html(remove_btn);
                        $(`#btn_span${value.broadcast.task_id}`).html(edit_btn);
                    });
                }
            });
        }

        function editMessage(taskId, is_caption) {
            let edit_msg = $("#" + taskId).val();
            $.ajax({
                url: "{% url 'panel:edit_broadcast' %}",
                method: "POST",
                data: {task_id: taskId, message: edit_msg, is_caption: is_caption},
                success: function (data) {
                    updateAllBroadCastMessages();
                }
            });
        }

        function deleteMessage(taskId) {
            $.ajax({
                url: "{% url 'panel:remove_scheduled_broadcast' %}",
                method: "POST",
                data: {task_id: taskId},
                success: function (data) {
                    loadAllBroadCastMessages();
                }
            });
        }

        function loadAllBroadCastMessages() {
            $.ajax({
                url: "{% url 'panel:get_all_scheduled_broadcast_messages' %}",
                method: "GET",
                success: function (data) {
                    $("#broadcastMessages").html('');
                    data['broadcasts'].length === 0 ? $("#broadcastWrapper").css('display', 'None') : $("#broadcastWrapper").css('display', 'block');
                    $.each(data['broadcasts'], function (index, value) {
                        if (value.broadcast.message == null) value.broadcast.message = '';
                        let remove_btn = `<button id="removeBtn${value.broadcast.id}" class="btn btn-danger btn-sm" style="margin-bottom: 5px" onclick="deleteMessage('${value.broadcast.id}')"><span style="font-size: 10px">Удалить</span></button>`;
                        let edit_btn = `<button id="editBtn${value.broadcast.id}" class="btn btn-primary btn-sm" style="margin-bottom: 5px" onclick="editMessage('${value.broadcast.id}', ${value.is_caption})"><span style="font-size: 10px">Редактировать</span></button>`;
                        let send_btn = `<button id="sendBtn${value.broadcast.id}" class="btn btn-warning btn-sm" style="margin-bottom: 5px" onclick="editMessage('${value.broadcast.id}', ${value.is_caption})"><span style="font-size: 10px">Отправить сейчас</span></button>`;
                        let template = `
<div class="row" style="box-shadow: 0 0 5px silver; border-radius: 5px; margin-bottom: 5px;">
    <div class="col" style="padding: 10px;">
        <textarea id="${value.broadcast.id}" style="max-width: 100%; border: 0;" cols="40" rows="1">${value.broadcast.message}</textarea>
        <span id="btn_span${value.broadcast.id}">${edit_btn}</span> <span id="btn_remove${value.broadcast.id}">${remove_btn}</span> <span id="btn_send${value.broadcast.id}">${send_btn}</span>
        <br>
        <sub>${value.date_formatted}</sub>
    </div>
</div>
`;
                        $("#broadcastMessages").append(template);
                    });
                }
            });
        }

        $(document).ready(function () {
            loadAllBroadCastMessages();
            setInterval(updateAllBroadCastMessages, 1000 * 60 * 10);
        });
    </script>
{% endblock %}

